body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 12pt;
/*Добавить line-height, найти как рассчитать */
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: #242424;
  background-image: url(../img/background-pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/*Чтобы было видно*/

.main-footer, .index-content {
  background-color: #f8f5f2;
}

/*Сделай второй вариант с помощью флоата*/
.features {
  display: flex;
  flex-flow: row;
  width: calc(inherit-20px);
  height: auto;
  align-content: center;
  justify-content: space-between;
  margin-top: 30px;
  padding:0 10px;
}

/*Есть ли способ сделать значение вычисляемым?*/
.features-item {
  width: 300px;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 24px;
}


b.features-name {
  display: block;
  font-size: 26px;
  height: 67px;
  line-height: normal;
  vertical-align: top;
  background-image: url(../img/rhomb-shape.png);
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}




.main-header {
  margin: 0;
  padding: 0;
  background-color: black;
}


.main-navigation {
  margin: 0;
  padding: 0;
  float: left;
}

.main-navigation a   {
  color: white;
  text-decoration: none;
}

.main-navigation>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation>ul>li {
  float: left;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  text-align: center;
}

.main-navigation>ul>li:hover {
  background-color: #242424;
}

/*.main-navigation>ul>li:nth-child(1){
  padding-left: 0px;
  padding-right: 20px;
}*/

/*Вставить изображение */

.user-block {
  float: right;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-align: center;
}

.user-block a {
  color: white;
  text-decoration: none;
}

.user-block:hover {
  background-color: #242424;
}

.login {

}

.index-logo {
    margin: auto;
    padding-top: 61px;
    width: 368px;
    height: 204px
}

.index-content {
  width: calc(inherit-160px);
  height: auto;
  margin-top: 79px;
  padding: 55px 80px 50px 80px;
  font-size: 10px;
  border: 1px solid yellow;

}

.index-content time {
  text-transform: none;
}

.index-content-left {
  float: left;
  width: 353px;
  padding-right: 37px;
  border: 1px solid red;

}

.index-content-left ul {
  list-style: none;
  padding-left: 0;
}

.index-content-right {
  float: right;
  width: 300px;
  border: 1px solid red;
  padding-left: 90px;
  padding-right: 0;
}

/*Разберись с высотой h2*/

.index-content-title {
  line-height: 0px;
}

.news-preview {

}

.btn {
  width: 140px;
  background-color: black;
  border: none;

}

.btn:hover {
  background-color: #663300;
}

a.btn {
  display: block;
  height: 27px;
  color: white;
  text-decoration: none;
  padding-top: 17px;
  font-size: 10px;
  text-align: center;
  vertical-align: bottom;
}

.gallery-prev.btn, .gallery-next.btn {
  /*float: left;*/
  display: inline-block;
  text-transform: inherit;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 17px 17px;
}
