body {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}

/*Here is used heading styles which differs from a style guide because of our index markup: we've got a lot of h2 headings with style of h1.*/

h1, h2 {
  font-size: 30px;
  line-height: 42px;
}
